<!--
  Generated template for the AgendaPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar primary> 
    <img src="img/main/lharmonia-logo-mini.png"/>
    <ion-title class="ion-title">Agenda</ion-title>
        <button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
<img padding src="img/main/lharmonia-logo-full.png">    
<!--  <h2 style="text-align: center;">Próximamente</h2> -->

 <img src="img/agenda/agenda.png">
</ion-content>
