// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/dashboard/dashboard";
//
@import "../pages/monumento/monumento";

@import "../pages/nuestra-hoguera/nuestra-hoguera";

@import "../pages/belleza-detail/belleza-detail";
//
//@import "../pages/home/home";

.ion-title{
	float: right;
    padding-top: 3%;
}

menu-title{
	float: left !important;
}

.toolbar-content{
	img{
	    height: 40px;
    	padding-left: 10px;
	}
}

//GMAPS fix
ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}