<!--
  Generated template for the BellezasPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar primary> 
    <img src="img/main/lharmonia-logo-mini.png"/>
    <ion-title class="ion-title">Bellezas y Damas</ion-title>
        <button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content>
<ion-list>
<ion-list-header>
Bellezas
</ion-list-header>
  <button ion-item *ngFor='let belleza of bellezas' (click)="navigate({belleza: belleza})">
    <ion-avatar item-left>
      <img src="{{belleza.pic}}-thumb.png" />
    </ion-avatar>
    <h2>{{belleza.name}}</h2>
    <p>{{belleza.class}}</p>
    <ion-note item-right="">Año {{belleza.year}}</ion-note>
  </button>
<ion-list-header>
Damas
</ion-list-header>  
  <button ion-item *ngFor='let dama of damas' (click)="navigate({dama: dama})">
    <ion-avatar item-left>
      <img src="{{dama.pic}}-thumb.png" />
    </ion-avatar>
    <h2>{{dama.name}}</h2>
    <p>{{dama.class}}</p>
    <ion-note item-right="">Año {{dama.year}}</ion-note>
  </button>
</ion-list>
</ion-content>
