<!--
  Generated template for the HistoriaPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar primary> 
    <img src="img/main/lharmonia-logo-mini.png"/>
    <ion-title class="ion-title">Nuestra historia</ion-title>
        <button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding>
  
  <!-- Header img-->
  <div padding>
    <img src="img/main/lharmonia-logo-full.png"/>
  </div>

  <h2>Fundacion</h2>
  <p>
  El 17 de agosto del 2006 se presentó en la antigua Comissió Gestora de les Fogueres de Sant Joan (actualmente Federacio de Fogueres de Sant Joan) el proyecto para la creación de la Foguera. El Proyecto fue presentado con la aprobación de las 2 Asociaciones de vecinos del Barrio de San Gabriel, el consentimiento de las Fiestas del Barrio de San Gabriel, el apoyo vecinal recogido en 237 firmas y el apoyo de 18 comercios.
  </p>
    <div padding-top padding-bottom>
    <img src="img/main/autorizacion-hoguera.jpg"/>
  </div>
<p>
El día 7 de septiembre  del 2006, en Reunión Extraordinaria la Comissió Gestora de les Fogueres de Sant Joan decidió unánimemente la aprobación y constitución de la Foguera. 
  </p>
  <h2>Ubicada</h2>
  <p>
  Ubicada en el Barrio de San Gabriel al Sur de Alicante. Su Distrito comprende la Urbanizaciones de Villa Teresa Sur, las Urbanizaciones del Palmeral de Urbis y la Urbanización el Palmeral. 
  </p>

<!--Map-->
  <div id="map_canvas_h" style="background-color: white; height: 150px; width:100%;"></div>  

  <p>
Su Racó-Local está situado en la C/ María Guerrero, 42 y en Hogueras Plantan los Monumentos y su Racó-Fogueril entre la C/ Músico José Alcaraz Pérez, la C/ Torre Gadea y la Plaza de la Fabriqueta.
</p>
<h2>Relaciones</h2>
<p>Están Hermanados con la Falla Pare Castells de Alzira.
</p>
<p>
Pertenecen a la Federació de Fogueres del Sector Sur y desfilan con el Sector 2 de la Federació de Fogueres de Sant Joan.
</p>

<h2>Idiosincrasia</h2>
<p>
El Logo de la Foguera se compone de 2 llamas de diferentes tamaños que representan el fuego de la Fiesta de les Fogueres y encima un circulo naranja-amarillo que representa el sol, la luz de nuestra Ciudad.
</p>
<p>
El Lema de la Foguera es: “De la Tradició al Futur”, de la tradición de la Fiesta de les Fogueres al futuro de la Fiesta en el cual ellos han venido a participar.
</p>
<p>
 La Foguera L’Harmonia se caracteriza por ser una Foguera de FAMILIA, está compuesta mayoritariamente por grupos familiares y por eso es tan importantes los niños en esta Foguera. Siendo la prioridad de esta Foguera la diversión.
 </p>
 <p>
Los actos Oficiales en los que no faltan nunca: el certamen Artístico, los Villancicos, Fogueres en Nadal, las Presentaciones de sus Fogueras amigas, su Presentación de Bellezas y Damas, la Gala del Puerto, la Elecció de la Bellesa del Foc, la Proclamació de la Bellesa del Foc, las Paellas en Lo Morant, el Ninot, la Entrada de Bandas, la Ofrenda de Flores a la Virgen del Remedio Patrona de Alicante, los días grandes de Hogueras y la Cremá.
</p>
<p>
Los actos a destacar en esta Foguera fuera de los Oficiales son: la celebración del Aniversario, la Presentación de su Falla, la Ofrenda de flores con su Falla en Alzira, el Almuerzo en su Distrito, la visita a sus monumentos, la Fiesta de su Sector Sur, la visita a otros monumentos en Turibus en los días de Hogueras, la noche de disfraces en Hogueras, la Ofrenda de Flores el día 24 de junio a San Gabriel Patrón de nuestro Barrio y la Ofrenda con las Fiestas de su Barrio San Gabriel al Patrón.
</p>

</ion-content>
