<ion-header >
  <ion-navbar primary>
  	<img src="img/main/lharmonia-logo.png"/>
    <ion-title class="ion-title">Inicio</ion-title>
        <button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding light class="dashboard">

<!-- Publicidad -->
  <ion-card class="advert" *ngFor="let p of publi; let i = index; trackBy: trackByFn" 
    (click)="open(i)">
    <img src="img/publi/{{i}}-thumb.jpg.png"/>
    <div class="subtitle">Publicidad</div>
  </ion-card>

</ion-content>

<ion-row no-padding center class="publi-popup" *ngIf="popup">
  <ion-col no-padding center>
    <button (click)="popup='';" >
      Cerrar
    </button>
    <ion-col center>
      <img src="{{popup}}" />
      </ion-col>
  </ion-col>
</ion-row>
