.dashboard {
  
  .advert {
    position: relative;
    text-align: center;
  }

  .subtitle {
    font-size: 1.0em;
    position: absolute;
    /* top: 5%; */
    /* width: 100%; */
    bottom: 5%;
    padding-left: 10px;
    /* left: 5%; */
    color: #fff;
  }

}

  .publi-popup{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 100;
    width: 100%;
    height: 100%;

    ion-col{
      height: 100%;
    }

    img{
      padding: 2%;
      max-height: 93%;
      display: table-caption;
      margin: 0 auto;
    }

    button{
      margin: 2%;
      float:right;
    }
  }
