<ion-menu [content]="content" side="right">

  <ion-toolbar primary text-center>
    <ion-title text-center>Menu</ion-title>
  </ion-toolbar>

  <ion-content>    
      <img padding src="img/main/lharmonia-logo-full.png">      
    <ion-list>
      <button light ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon danger name="{{p.icon}}" item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
