<!--
  Generated template for the LocalizanosPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar primary> 
  	<img src="img/main/lharmonia-logo-mini.png"/>
    <ion-title class="ion-title">{{title}}</ion-title>
        <button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-row class="has-header" style="padding-top: 56px; height: 100%;">
<ion-col no-padding style="position: relative">

  <!-- Image container -->
  <div style="background-color: grey; height: 100%;" class="image-viewer-container">
  	<img src="{{belleza.pic}}.png" style="margin: 0px !important; width:100%;" />
  </div>

  <!-- Detail container -->
  <ion-item style="position: absolute; bottom: 0px;">
    <ion-icon danger name="flame" style="margin: 10px;" item-left large></ion-icon>
    <h2>{{belleza.name}}</h2>
    <p>{{belleza.class}}, Año {{belleza.year}}</p>
  </ion-item>
</ion-col>
</ion-row>
