<!--
  Generated template for the LocalizanosPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar primary> 
  	<img src="img/main/lharmonia-logo-mini.png"/>
    <ion-title class="ion-title">Localizanos</ion-title>
        <button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-row class="has-header" style="padding-top: 56px; height: 100%;">
<ion-card style="padding: 0px;
    margin: 0px;
    width: 100%;">

	<!-- Map-->
  <!-- <img src="img/map-test.png"> -->
  <div id="map_canvas" style="background-color: white; height: 80%"></div>  
  <button fab class="button" style="bottom: 15%; z-index: 1; right: 10px;" (click)="center()">
    <ion-icon name="pin"></ion-icon>
  </button>

  <ion-item>
    <ion-icon danger name="bonfire" style="margin: 10px;" item-left large></ion-icon>
    <h2>Foguera L'Harmonia</h2>
    <p>Calle María Guerrero, Alicante, 03008</p>
  </ion-item>

  <ion-item>    
    <button danger item-left
    onclick="window.open('https://www.google.es/maps/dir/\'\'/foguera+lharmonia/@38.3296964,-0.5839628,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0xd6236110a6e7d65:0x8a623ce2cd537399!2m2!1d-0.5139228!2d38.3297172')">
      <ion-icon name="navigate"></ion-icon>
      Como llegar
    </button>

    <button class="button" item-right style="background-color: #3b5998; color:  #ffffff;"
      onclick="window.open('https://www.facebook.com/fogueralharmonia.sangabriel/')">
      Siguenos
      <ion-icon name="logo-facebook"></ion-icon>
    </button>
  </ion-item>

</ion-card>
</ion-row>
