.nuestra-hoguera {

}

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    bottom: 15%;
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-align: left;
    padding-left: 10px;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;

    width: 100%;
    color: #fff;
    bottom: 5%;
    text-align: left;
    padding-left: 10px;
  }


  .image-viewer-container {
    background-color: white;
    height: 88%;
    position: relative;
    position: relative;

    img{
      inline-block: inherit;
      position: absolute;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }