<!--
  Generated template for the NuestraHogueraPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar primary> 
    <img src="img/main/lharmonia-logo-mini.png"/>
    <ion-title class="ion-title">Nuestra hoguera</ion-title>
        <button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-card *ngFor='let d of data' (click)="navigate(d)">
    <img src="img/nuestra-hoguera/{{d.file}}"/>
    <div class="card-title">{{d.title}}</div>
    <div class="card-subtitle">Año {{d.year}}</div>
  </ion-card>  

</ion-content>
