.monumento {

}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.pic-container {
	background-color: blue; 
	height: 50%; 
	width:100%; 
	background-position: center; 
	background-size: cover; 
	position: relative;
}

.pic-container{
	ion-item{		
		position: absolute;
		bottom: 0px;
	}
}