<!--
  Generated template for the MonumentoPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar primary> 
    <img src="img/main/lharmonia-logo-mini.png"/>
    <ion-title class="ion-title">El monumento</ion-title>
        <button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
 
<ion-row class="has-header" style="padding-top: 56px; height: 100%;">
<ion-col style="padding:0px; height: 100%;">
<div class="pic-container" [ngStyle]="{'background-image': 'url('+infantil.pic+')'}" (click)="navigate(infantil)">
  <button ion-item  >
    <ion-icon danger name="flame" style="margin: 10px;" item-left large></ion-icon>
    <h2>{{infantil.title}}</h2>
    <p>Moumento de Foguera L'harmonia, {{infantil.year}} </p>
  </button>
</div>

<div class="pic-container" [ngStyle]="{'background-image': 'url('+adulto.pic+')'}" (click)="navigate(adulto)">
  <button ion-item >
    <ion-icon danger name="flame" style="margin: 10px;" item-left large></ion-icon>
    <h2>{{adulto.title}}</h2>
    <p>Moumento de Foguera L'harmonia, {{adulto.year}} </p>
  </button>
</div>
</ion-col>
</ion-row>