<!--
  Generated template for the LocalizanosPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar primary> 
  	<img src="img/main/lharmonia-logo-mini.png"/>
    <ion-title class="ion-title">{{data.header}}</ion-title>
        <button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-row class="has-header" style="padding-top: 56px; height: 100%; background-color: white;">
<ion-card style="padding: 0px;
    margin: 0px;
    width: 100%;">

	<!-- Map-->
  <!-- <img src="img/map-test.png"> -->
  <div class="image-viewer-container" style="background-color: white; height: 88%">
  	<img src="{{data.pic}}" />
  </div>


  <ion-item>
    <ion-icon danger name="flame" style="margin: 10px;" item-left large></ion-icon>
    <h2>{{data.title}}</h2>
    <p>{{data.subtitle}}</p>
  </ion-item>

</ion-card>
</ion-row>
