<!--
  Generated template for the LocalizanosPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar primary> 
  	<img src="img/main/lharmonia-logo-mini.png"/>
    <ion-title class="ion-title">{{data.header}}</ion-title>
        <button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-row class="has-header" style="padding-top: 56px; height: 100%;">
<ion-col no-padding style="position: relative; background-color: white; padding-bottom: 69px; height: 100%;">

  <!-- Image container -->
  <div center style="background-color: #ededed; height: 100%;" class="image-viewer-container">
    <img src="{{data.pic}}" style="width:100%;" />
  </div>
<!--   <ion-scroll (pinch)="pinchEvent($event)" scrollX="true" scrollY="true" zoom="true" style="width:100%;height:100%;text-align:center;">
    <div [ngStyle]="{'width' : width + 'px', 'height' : height + 'px', 'transform' : 'rotate('+rotacion+'deg)', 'background-size' : 'contain', 'background-position' : 'center'}" 
    style="margin-top:50px; margin-bottom:50px; background: url('img/monumento/monumento-infantil-2016.png') no-repeat; height: 400px;"></div>
  </ion-scroll> -->

  <!-- Detail container -->
  <ion-item style="position: absolute; bottom: 0px;">
    <ion-icon danger name="flame" style="margin: 10px;" item-left large></ion-icon>
    <h2>{{data.title}}</h2>
    <p>{{data.subtitle}}</p>
  </ion-item>
</ion-col>
</ion-row>